body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

h1.title {
    margin: 0 0 20px;
    font-size: 46pt;
    color: var(--primary);
    font-weight: initial;
}

form {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--white);

}

@media (max-width: 480px) {
    form {
        width: 80%;
    }
}


button[type="submit"] {
    width: 100%;
}

.input-file-dummy, 
.input-file-btn, 
input {
    cursor: pointer;
}
.input-file-dummy[readonly] {
    background-color: white;
}

